In [1]:
%%time
import malaya

CPU times: user 4.17 s, sys: 822 ms, total: 4.99 s
Wall time: 4.14 s

In [2]:
string1 = 'xjdi ke, y u xsuke makan HUSEIN kt situ tmpt, i hate it. pelikle, pada'
string2 = 'i mmg xske mknn HUSEIN kampng tmpat, i love them. pelikle saye'
string3 = 'perdana menteri ke11 sgt suka makn ayam, harganya cuma rm15.50'
string4 = 'pada 10/4, kementerian mengumumkan, 1/100'
string5 = 'Husein Zolkepli dapat tempat ke-12 lumba lari hari ni'
string6 = 'Husein Zolkepli (2011 - 2019) adalah ketua kampng di kedah sekolah King Edward ke-IV'

## Load spell normalizer

In [3]:
corrector = malaya.spell.probability()
normalizer = malaya.normalize.spell(corrector)

In [4]:
normalizer.normalize('boleh dtg 8pagi esok tak atau minggu depan? 2 oktober 2019 2pm, tlong bayar rm 3.2k sekali tau')

{'normalize': 'boleh datang lapan pagi esok tak atau minggu depan ? 02/10/2019 14:00:00 , tolong bayar tiga ribu dua ratus perpuluhan kosong ringgit sekali tahu',
 'date': {'minggu depan': datetime.datetime(2020, 5, 4, 0, 18, 26, 265157),
  '8 AM esok': datetime.datetime(2020, 4, 28, 8, 0),
  '2 oktober 2019 2pm': datetime.datetime(2019, 10, 2, 14, 0)},
 'money': {'rm 3.2k': 'RM3200.0'}}

Here you can see, Malaya normalizer will normalize `minggu depan` to datetime object, also `3.2k ringgit` to `RM3200`

In [5]:
print(normalizer.normalize(string1))
print(normalizer.normalize(string2))
print(normalizer.normalize(string3))
print(normalizer.normalize(string4))
print(normalizer.normalize(string5))
print(normalizer.normalize(string6))

{'normalize': 'tak jadi ke , kenapa awak tak suka makan HUSEIN kat situ tempat , saya hate it . pelik lah , pada', 'date': {}, 'money': {}}
{'normalize': 'saya memang tak suka makanan HUSEIN kampung tempat , saya love them . pelik lah saya', 'date': {}, 'money': {}}
{'normalize': 'perdana menteri kesebelas sangat suka makan ayam , harganya cuma lima belas perpuluhan lima ringgit', 'date': {}, 'money': {'rm15.50': 'RM15.5'}}
{'normalize': 'pada sepuluh hari bulan empat , kementerian mengumumkan , satu per seratus', 'date': {}, 'money': {}}
{'normalize': 'Husein Zolkepli dapat tempat kedua belas lumba lari hari ni', 'date': {}, 'money': {}}
{'normalize': 'Husein Zolkepli ( dua ribu sebelas hingga dua ribu sembilan belas ) adalah ketua kampung di kedah sekolah King Edward keempat', 'date': {}, 'money': {}}

## Normalizing rules

#### 1. Normalize title,

```python

{
    'dr': 'Doktor',
    'yb': 'Yang Berhormat',
    'hj': 'Haji',
    'ybm': 'Yang Berhormat Mulia',
    'tyt': 'Tuan Yang Terutama',
    'yab': 'Yang Berhormat',
    'ybm': 'Yang Berhormat Mulia',
    'yabhg': 'Yang Amat Berbahagia',
    'ybhg': 'Yang Berbahagia',
    'miss': 'Cik',
}

```

In [6]:
normalizer.normalize('Dr yahaya')

{'normalize': 'Doktor yahaya', 'date': {}, 'money': {}}

#### 2. expand `x`

In [7]:
normalizer.normalize('xtahu')

{'normalize': 'tak tahu', 'date': {}, 'money': {}}

#### 3. normalize `ke -`

In [8]:
normalizer.normalize('ke-12')

{'normalize': 'kedua belas', 'date': {}, 'money': {}}

In [9]:
normalizer.normalize('ke - 12')

{'normalize': 'kedua belas', 'date': {}, 'money': {}}

#### 4. normalize `ke - roman`

In [10]:
normalizer.normalize('ke-XXI')

{'normalize': 'kedua puluh satu', 'date': {}, 'money': {}}

In [11]:
normalizer.normalize('ke - XXI')

{'normalize': 'kedua puluh satu', 'date': {}, 'money': {}}

#### 5. normalize `NUM - NUM`

In [12]:
normalizer.normalize('2011 - 2019')

{'normalize': 'dua ribu sebelas hingga dua ribu sembilan belas',
 'date': {},
 'money': {}}

In [13]:
normalizer.normalize('2011.01-2019')

{'normalize': 'dua ribu sebelas perpuluhan kosong satu hingga dua ribu sembilan belas',
 'date': {},
 'money': {}}

#### 6. normalize `pada NUM (/ | -) NUM`

In [14]:
normalizer.normalize('pada 10/4')

{'normalize': 'pada sepuluh hari bulan empat', 'date': {}, 'money': {}}

In [15]:
normalizer.normalize('PADA 10 -4')

{'normalize': 'pada sepuluh hari bulan empat', 'date': {}, 'money': {}}

#### 7. normalize `NUM / NUM`

In [16]:
normalizer.normalize('10 /4')

{'normalize': 'sepuluh per empat', 'date': {}, 'money': {}}

#### 8. normalize `rm NUM`

In [17]:
normalizer.normalize('RM 10.5')

{'normalize': 'RM 10.5', 'date': {}, 'money': {'rm 10.5': 'RM10.5'}}

#### 9. normalize `rm NUM sen`

In [18]:
normalizer.normalize('rm 10.5 sen')

{'normalize': 'sepuluh perpuluhan lima ringgit sen',
 'date': {},
 'money': {'rm 10.5': 'RM10.5'}}

#### 10. normalize `NUM sen`

In [19]:
normalizer.normalize('10.5 sen')

{'normalize': 'kosong perpuluhan satu kosong lima ringgit',
 'date': {},
 'money': {'10.5 sen': 'RM0.105'}}

#### 11. normalize money

In [20]:
normalizer.normalize('rm10.4m')

{'normalize': 'satu juta empat ratus ribu perpuluhan kosong ringgit',
 'date': {},
 'money': {'rm10.4m': 'RM10400000.0'}}

In [21]:
normalizer.normalize('$10.4K')

{'normalize': 'seribu empat ratus perpuluhan kosong dollar',
 'date': {},
 'money': {'$10.4k': '$10400.0'}}

#### 12. normalize cardinal

In [22]:
normalizer.normalize('123')

{'normalize': 'seratus dua puluh tiga', 'date': {}, 'money': {}}

#### 13. normalize ordinal

In [23]:
normalizer.normalize('ke123')

{'normalize': 'keseratus dua puluh tiga', 'date': {}, 'money': {}}

#### 14. normalize date / time / datetime string to datetime.datetime

In [24]:
normalizer.normalize('2 hari lepas')

{'normalize': 'dua hari lepas',
 'date': {'2 hari lalu': datetime.datetime(2020, 4, 25, 0, 18, 26, 775992)},
 'money': {}}

In [25]:
normalizer.normalize('esok')

{'normalize': 'esok',
 'date': {'esok': datetime.datetime(2020, 4, 28, 0, 18, 26, 784789)},
 'money': {}}

In [26]:
normalizer.normalize('okt 2019')

{'normalize': '26/10/2019',
 'date': {'okt 2019': datetime.datetime(2019, 10, 26, 0, 0)},
 'money': {}}

In [27]:
normalizer.normalize('2pgi')

{'normalize': 'dua pagi',
 'date': {'2 AM': datetime.datetime(2020, 4, 26, 2, 0)},
 'money': {}}

In [28]:
normalizer.normalize('pukul 8 malam')

{'normalize': 'pukul lapan malam',
 'date': {'pukul 8': datetime.datetime(2020, 4, 8, 0, 0)},
 'money': {}}

In [29]:
normalizer.normalize('jan 2 2019 12:01pm')

{'normalize': '02/01/2019 12:01:00',
 'date': {'jan 2 2019 12:01pm': datetime.datetime(2019, 1, 2, 12, 1)},
 'money': {}}

In [30]:
normalizer.normalize('2 ptg jan 2 2019')

{'normalize': 'dua petang 02/01/2019',
 'date': {'2 PM jan 2 2019': datetime.datetime(2019, 1, 2, 14, 0)},
 'money': {}}

#### 15. normalize money string to string number representation

In [31]:
normalizer.normalize('50 sen')

{'normalize': 'kosong perpuluhan lima ringgit',
 'date': {},
 'money': {'50 sen': 'RM0.5'}}

In [32]:
normalizer.normalize('20.5 ringgit')

{'normalize': 'dua puluh perpuluhan lima ringgit',
 'date': {},
 'money': {'20.5 ringgit': 'RM20.5'}}

In [33]:
normalizer.normalize('20m ringgit')

{'normalize': 'dua juta perpuluhan kosong ringgit',
 'date': {},
 'money': {'20m ringgit': 'RM20000000.0'}}

In [34]:
normalizer.normalize('22.5123334k ringgit')

{'normalize': 'dua ribu lima ratus dua belas perpuluhan tiga tiga tiga empat ringgit',
 'date': {},
 'money': {'22.5123334k ringgit': 'RM22512.3334'}}

#### 16. normalize date string to %d/%m/%y

In [35]:
normalizer.normalize('1 nov 2019')

{'normalize': '01/11/2019',
 'date': {'1 nov 2019': datetime.datetime(2019, 11, 1, 0, 0)},
 'money': {}}

In [36]:
normalizer.normalize('januari 1 1996')

{'normalize': '01/01/1996',
 'date': {'januari 1 1996': datetime.datetime(1996, 1, 1, 0, 0)},
 'money': {}}

In [37]:
normalizer.normalize('januari 2019')

{'normalize': '26/01/2019',
 'date': {'januari 2019': datetime.datetime(2019, 1, 26, 0, 0)},
 'money': {}}

#### 17. normalize time string to %H:%M:%S

In [38]:
normalizer.normalize('2pm')

{'normalize': '14:00:00',
 'date': {'2pm': datetime.datetime(2020, 4, 26, 14, 0)},
 'money': {}}

In [39]:
normalizer.normalize('2:01pm')

{'normalize': '14:01:00',
 'date': {'2:01pm': datetime.datetime(2020, 4, 26, 14, 1)},
 'money': {}}

In [40]:
normalizer.normalize('2AM')

{'normalize': '02:00:00',
 'date': {'2am': datetime.datetime(2020, 4, 26, 2, 0)},
 'money': {}}